.Palavra {
    display: flex;
    flex-direction: row;
}

.Letra {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    margin-bottom: 8px;
    margin-right: 4px;
    margin-left: 4px;

    font-size: 30px;
    text-align: center;
    line-height: 50px;
    vertical-align: center;
}

.LinhaTeclado {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.Tecla {
    height: 50px;
    width: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    line-height: 50px;
    background-color: grey;
}

.TeclaGrande {
    height: 50px;
    width: 60px;
    border: 1px solid grey;
    border-radius: 5px;
    line-height: 50px;
    background-color: grey;
}

.Teclado {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.Preto {
    background-color: black;
}

.Amarelo {
    background-color: rgb(181, 159, 59);
}

.Verde {
    background-color: green;
}

.Ganhou {
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}